.flex-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(228, 255, 152);
    height: 300px;

}

.flex-item{
    background-color: rgb(236, 60, 60);
    margin: 20px;
    flex:1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color:white;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(146, 255, 155);
    /* height: 100px; */
    grid-auto-rows: 100px;
}


.grid-item{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
}

.box-1{
    background-color: lightblue;
    grid-row:1 ;
    grid-column: 1;
}

.box-22{
    background-color: lightblue;
    grid-row:1 ;
    grid-column: 2/4;
}

.box-2{
    background-color: lightblue;
    grid-row:2 ;
    grid-column: 2/4;
}

.box-4{
    background-color: lightblue;
    grid-row:2 ;
    grid-column: 1;
}

.box-3{
    background-color: lightblue;
    grid-row:3/4 ;
    grid-column: 1/3;
}

.box-11{
    background-color: lightblue;
    grid-row:3/4 ;
    grid-column: 3;
}