.borderTesting{
    background-color: limegreen;
    width : 50%;
    margin: auto;
    border: 10px solid black;
    padding: 20px;
}

#testMargin{
    margin-bottom: 120px;
    padding-left: 50px;
    border: 5px dashed red;
}

.tototo{
    border: 5px solid blue;
    padding: 20px;
    margin: 30px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: auto;
    background-color: lightgray;

    border-radius: 10px;
}

input{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}